
/* PLAYER */

.player-container {
    position: relative;
    background: #000;
    min-width: 960px;
    height: 540px;
}

.ie7 .player-container {
    position: absolute;
    left: 0px;
    min-width: 617px;
    height: 347px;
    width: 617px;
}

.ie8 .player-container {
    left: 10px;
    min-width: 617px;
    height: 347px;
    width: 617px;
}

@media (max-width: 1480px) {
    .player-container {
        min-width: 640px;
        height: 360px;
    }
    .ie7 .player-container,
    .ie8 .player-container {
        height: 347px;
        width: 617px;
    }
}

@media (max-width: 991px) {
    .player-container {
        min-width: 481px;
        height: 271px;
    }

    .ie7 .player-container,
    .ie8 .player-container {
        height: 347px;
        width: 617px;
    }
}